body {
	min-height: 100vh;
	background-color:rgb(0, 0, 0);
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-top: 55px;
	margin: 0;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-top: 0;
}

a:hover {
	background-color: #7e7a7a;
	border-radius: 10px;
	border-style: double;
	border-color: black;
	transform: scale(1.1);
}


a



footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px;
	background-color: #3b3b3b;
	text-align: center;
}



#contenedor {
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: #888888;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#formulario {
	margin-bottom: 20px;
}

/*Slider metodos de pago*/

#slider {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

#slider ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#slider ul li {
	display: block;
	float: left;
	width: 25%;
	height: 100%;
}

#slider ul li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider {
	display: flex;
	height: auto;
	margin: auto;
	overflow: hidden;
	align-items: center;
}

.slider:before {
	position: absolute;
	z-index: 1;
	left: 0;
	content: "";
	width: 23.958%;
	height: 110px;
	background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
}

.slider:after {
	position: absolute;
	right: 0;
	content: "";
	width: 23.958%;
	height: 110px;
	background: linear-gradient(90deg,
			hsla(0, 0%, 96.9%, 0),
			hsla(0, 0%, 96.9%, 0.99) 99%);
}

.slider .slide-track {
	display: flex;
	animation: scroll 35s linear infinite;
	-webkit-animation: scroll 35s linear infinite;
	width: calc(240px * 10);
}

.slider .slide {
	cursor: pointer;
	width: 180px;
	height: auto;
	padding: 10px;
	margin: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slide img {
	height: auto;
	width: 160px;
}

@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-240px * 5));
		transform: translateX(calc(-240px * 5));
	}
}

/*Validation registrer*/

#Descripcion {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.valid-checks {
	margin: 10px 0;
	padding: 5px 5px;
	background-color: #1CA03E;
	border-radius: 25px;
	transition: .2 ease;
	opacity: 1;
}

.valid-checks ul li {
	position: relative;
	font-size: 15px;
	font-weight: 300;
	margin: 8px 0;
	color: white;
	transition: .2s;
}

.valid-checks ul li i {
	font-size: 20px;
	margin-right: 8px;
}

.valid-checks ul li.checked {
	color: white;
	font-weight: 500;
}

.hide {
	opacity: 0;
}

/*Conocernos CSS*/

#DivMision {
	background-image: url(../imagenes/img/Mision.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

#DivPolitica {
	background-image: url(../imagenes/img/Politica.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

#DivValores {
	background-image: url(../imagenes/img/Valores.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

#DivVision {
	background-image: url(../imagenes/img/Vision2.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

#DivHistoria {
	background-image: url(../imagenes/img/Historia.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

/*CSS boton whatsapp*/

img.btn-whatsapp {
	display: block !important;
	position: fixed;
	z-index: 9999999;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	border-radius: 100px !important;
}

img.btn-whatsapp:hover {
	border-radius: 100px !important;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
	box-shadow: 0px 0px 15px 0px rgba(7, 94, 84, 1);
	transition-duration: 1s;
}

.bg-success{
	background-color: #878787 !important;
}